.bg {
  background-image: url("../images/bg-transformed.jpeg");
  background-size: cover; /* Ensure the background covers the entire element */
  background-repeat: no-repeat;
  width: 100vw; /* Set the width to 100% of the viewport width */
  height: 100vh; /* Set the height to 100% of the viewport height */
  /* Additional styles */
  margin: 0; /* Remove any default margins */
  padding: 0; /* Remove any default padding */
  font-size: 50px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 20px;

  .container-header{
    height: 17%;
  }

  .container-body{
    height: 83%;
  }

 
}

.bg .first-heading {
  color: rgb(255, 247, 224);
  margin-left: 60px;
  display: inline-block;
}

.bg .brand-name {
  font-family: "Protest Revolution", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: rgb(255, 247, 224);
  letter-spacing: 1px;
  display: inline-block;
}

.bg .second-heading {
  color: #ffffff;
  letter-spacing: 2px;
  margin-left: 200px;
  font-weight: bold;
}

.bg .footer-text {
  font-size: 15px;
}

@media (max-width: 600px) {
  .bg {
    height: 90vh;
  }
  .bg .second-heading {
    margin-left: 0px;
    text-align: center;
  }

  .bg .first-heading {
    letter-spacing: 1px;
    margin-left: 30px;
    text-align: left;
  }

  .bg .brand-name {
    text-align: center;
    display: block;
  }
}
