.table-contain .not-avail{
    color: rgb(255, 108, 108) !important;
    letter-spacing: 2px;
}

@media (max-width:600px){
    th{
        font-size: 15px;
    }
    td{
        font-size: 15px;
    }
}
